@using Microsoft.AspNetCore.Razor.Language.Intermediate
@using Newtonsoft.Json
@model AssembleiaViewModel
@{
    ViewData["Title"] = "Gerenciar assembleias";
}

<section class="panel panel-default">
    <header class="panel-heading">
        <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal" onclick="limparFormulario()">Marcar assembleia</button>
    </header>

    <div class="panel-body">
        <h3>Lista de assembleias </h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td class="col-xs-2">Data</td>
                    <td class="col-xs-4">Titulo</td>
                    <td class="col-xs-4">Descrição</td>
                    <td class="col-xs-2">Ações</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var assembleia in Model.Assembleias)
                {
                    <tr>
                        <td class="col-xs-2">@assembleia.Data.ToString("dd/MM/yyyy")</td>
                        <td class="col-xs-4">@assembleia.Titulo</td>
                        <td class="col-xs-4">@assembleia.Descricao</td>
                        <td class="col-xs-2">
                            <button class="btn btn-xs btn-warning" onclick="Edit(@JsonConvert.SerializeObject(assembleia))">Editar</button>
                            <button class="btn btn-xs btn-danger" onclick="Cacelar(@assembleia.Id)">Cancelar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<script>
    function Edit(data) {
        limparFormulario()
        var modal = $("#myModal");
        modal.find("#Assembleia_Id").val(data.Id);
        modal.find("#Assembleia_Data").val(data.Data);
        modal.find("#Assembleia_Titulo").val(data.Titulo);
        modal.find("#Assembleia_Descricao").html(data.Descricao);

        modal.modal('show');
    }

    function Cacelar(id) {
        const swalWithBootstrapButtons = swal.mixin({
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: false,
        });

        swalWithBootstrapButtons({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                console.log(id);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete")",
                    data: "id="+id,
                    success: function (response) {
                        if (response == "success") {
                            location.reload();
                        } else{
                            swal(
                                'Ops!',
                                'ouvi um problema ao tentar cencelar a assembleia, tente novamente mais tarde!',
                                'warning'
                            ).then(() => {
                                location.reload();
                            });
                        }
                    },
                    error: function(response) {
                        swal(
                            'Erro!',
                            'ouvi um problema ao tentar cencelar a assembleia, tente novamente mais tarde!',
                            'error'
                        ).then(() => {
                            location.reload();
                        });
                    }
            
                });
            } 
        });
    }

    function formSubmit() {

        var form = $("#fomulario");

        $.ajax({
            type: "POST",
            url: form.attr('action'),
            data: form.serialize(),
            success: function (response) {
                if (response == "success") {
                    location.reload();
                } else{
                    swal(
                        'Ops!',
                        'ouvi um problema ao tentar realizar o cadastro, verifique se os dados estão corretos',
                        'warning'
                    ).then(() => {
                        location.reload();
                    });
                }
            },
            error: function(response) {
                swal(
                    'Erro!',
                    'ouvi um problema ao tentar realizar o cadastro, verifique se os dados estão corretos',
                    'error'
                ).then(() => {
                    location.reload();
                });
            }
            
        });
    }

    function limparFormulario() {
        $('#fomulario input').val("");
        $('#fomulario textarea').html("");
    }
    // function para lipar os formularios
</script>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form asp-action="Save" method="post" id="fomulario">
                @Html.HiddenFor(a => a.Assembleia.Id)
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Data</label>
                        @Html.TextBoxFor(a => a.Assembleia.Data, new { @class = "form-control datetimepicker" })
                    </div>
                    <div class="form-group">
                        <label>Titulo</label>
                        @Html.TextBoxFor(a => a.Assembleia.Titulo, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Descrição</label>
                        @Html.TextAreaFor(a => a.Assembleia.Descricao, new { @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="formSubmit()">Salvar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>

    </div>
</div>

